<ion-header [translucent]="true">
  <ion-toolbar />
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Click on the button below</strong>
    <strong>and</strong>
    <strong>Start your list.</strong>
    <div id="button_container">
      <ion-button routerLink="/list"> Sua lista </ion-button>
    </div>
  </div>
</ion-content>
